---
http_interactions:
- request:
    method: get
    uri: http://geo.pointp.in/this-is-a-valid-api-key/json/55.111.555.555
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Status:
      - 200 OK
      Last-Modified:
      - Wed, 16 Jul 2014 08:42:12 GMT
    body:
      encoding: UTF-8
      string: '{"ip":"55.111.555.555","continent_code":"EU","country_code":"IE","country_name":"Ireland","region_name":"Dublin
        City","city_name":"Dublin","postcode":null,"latitude":53.3331,"longitude":-6.2489,"time_zone":"Europe/Dublin"}'
      effective_url: http://geo.pointp.in/this-is-a-valid-api-key/json/55.111.555.555
  recorded_at: Wed, 16 Jul 2014 08:42:12 GMT
recorded_with: VCR 2.9.2
